@import "tailwindcss";




html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  
  font-family: 'Poppins', sans-serif;
}

/* optional: hide horizontal scrollbars in hero category strip */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}